aiohttp==3.9.5
alembic==1.13.1
asyncpg==0.29.0
launchpadlib==1.11.0
keyring==25.2.0
tqdm==4.66.4
torch==2.3.0
transformers==4.40.2
fastapi==0.110.0
uvicorn[standard] == 0.29.0
jinja2 >= 3.1.2
python-multipart == 0.0.9
pydantic==2.7.1
SQLAlchemy==2.0.30
temporalio==1.6.0
itsdangerous==2.2.0
autopep8==2.1.0
isort==5.13.2
