# Place me under /etc/systemd/system/launchpadllmworker.service
[Unit]
Description=LaunchpadLLM temporal worker Service

[Service]
User=ubuntu
WorkingDirectory=/home/ubuntu/launchpad_tools
ExecStart=/bin/bash -c "source ve/bin/activate && launchpadllmworker --gh_token REDACTED"
Restart=always
RestartSec=15
StartLimitInterval=0

[Install]
WantedBy=multi-user.target