# Place me under /etc/systemd/system/launchpadllmupdate.service
[Unit]
Description=LaunchpadLLM updater Service

[Service]
User=root
WorkingDirectory=/home/ubuntu/launchpad_tools/prod/scripts
ExecStart=update_database.sh
RestartSec=86400s # 1 day
Restart=always

[Install]
WantedBy=multi-user.target