# Place me under /etc/systemd/system/spaghettihubmpupdate.service
[Unit]
Description=SpaghettiHub updater Service

[Service]
User=ubuntu
WorkingDirectory=/home/ubuntu/spaghettihub/prod/scripts
ExecStart=/bin/bash -c "./update_database.sh"
Type=oneshot