# Place me under /etc/systemd/system/spaghettihubmpupdate.service
[Unit]
Description=SpaghettiHub updater Service

[Service]
User=root
WorkingDirectory=/home/ubuntu/spaghettihub/prod/scripts
ExecStart=/bin/bash -c "./update_database.sh"
RestartSec=86400s # 1 day
Restart=always

[Install]
WantedBy=multi-user.target