# Place me under /etc/systemd/system/temporal.service
[Unit]
Description=Temporal Service

[Service]
User=ubuntu
WorkingDirectory=/home/ubuntu/
ExecStart=/bin/bash -c "/opt/temporal/temporal-server -r ~/spaghettihub/prod -c temporal_config start"
Restart=always
RestartSec=15
StartLimitInterval=0

[Install]
WantedBy=multi-user.target